body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  padding: 15px;
}
nav {
   margin: auto;
  height:5em;
  text-align: center;
}
h1 {
  font-size: 2.7em;
  font-weight: 500;
  text-align: center;
}

small {
  font-size: 65%;
  color: #777;
}

h3 {
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

img {
  cursor:pointer;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

blockquote {
  border-right: 5px solid #777;
  padding-right: 10px;
  text-align: right;
}

blockquote>footer {
  font-size: 90%;
}

blockquote> footer::after {
  content: " ~~ "
}

.grey {
  background-color: #eee;
  padding: 10px;
  margin: 5px;
}

.color {
  background-color: #d9edf7;
  padding: 10px;
}

.red {
  background-color: red;
}

.rounded {
  border-radius: 100%;
}

#know-more {
  text-align: left;
}

form {
  margin: auto;
}
textarea {
    width:100%;
    max-width:45em;
}

@media (min-width: 768px) {
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .float {
    float: left;
  }
  .right {
    margin-right: 10px;
    margin-left: 5px;
  }
  .left {
    margin-right: 5px;
    margin-left: 10px;
  }
  .half {
    width: 45%;
  }
  .third {
    width: 30%;
  }
  .two-third {
    width: 65%;
  }
  .clear {
    clear: both;
  }
}

/*
//  The next lines are shamelessly inspired (copied?)
//  from the modal tutorial from w3school.com.
//  https://www.w3schools.com/howto/howto_css_modal_images.asp
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

